body {font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: beige;}

h1, nav{margin:0;
    padding:0;
    background-color:blueviolet;
    font-family: sans-serif; 
    color: white;
    text-align: center;}

nav {padding: 10px;
    display: flex;
    justify-content: space-evenly;}

nav a {color: white;
        text-decoration: none;
        font-size: 18px;}

nav a:hover {text-decoration: underline;}

img {max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);}

video {max-width: 60%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 20px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);}

.importante {border: 1px solid rgb(64, 61, 68);
    border-radius: 5px;
    padding-left: 10px;
    text-align: center;}

#titulo {color: mediumorchid;
        text-align: center;
        text-decoration:underline;}

h3.concentrado {color: mediumorchid;
    text-align: center;}

* {padding-inline: 5px;}

#infoYo header * {color: mediumorchid;}

#formulario > form {width: 400px;
    margin: auto;
    padding: 20px;
    background: rgb(177, 144, 241);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;}

#formulario form br+button {background: white;
    color: black;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;}

#campoAbierto input, textarea {
    width: 90%;
    padding-inline: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
#campoAbierto input:focus, textarea:focus {
    border-color: #6c63ff;
    outline: none;
    box-shadow: 0 0 5px #6c63ff;
}