.contenedor{
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
}

#s-universal * {
    color: rgb(175, 9, 45);
}

#s-titulo * {
    color: rgb(14, 9, 175);
}

#s-clase.grande{
    font-size: 30px;
}

#s-id #div1{
    color: rgb(62, 0, 128);
}

#s-tipo p{
    border: 2px rgb(93, 7, 206) solid;
}

#s-tipo-clase p.info{
    border: 1px solid rgb(141, 2, 60);
    box-shadow: 5px 5px 5px rgb(141, 2, 60);
}

#s-lista div,#s-lista h3{
    text-transform: uppercase;
}

#s-descendientes article *{
    border-bottom: 2px dotted blueviolet;
}

#s-hijos article >p{
    background-color: beige;
}

#s-hermano adyacente h2+p {
    color: aqua;
}