.titulo:hover {
    background-color: cornsilk;
    border: 1px solid darkgrey;
    border-radius: 5px;
}

.subrayado {
    text-decoration: underline;
    color: honeydew;
}

.baile:hover {
    background-color: lightblue;
    border: 1px solid darkgrey;
    border-radius: 5px;
}