#a14 {
    background-color: rgba(125, 247, 247, 0.719);
    color: rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Estilos para el main y contenido */
main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    font-size: 18px;
    margin-bottom: 5px;
}

blockquote {
    font-style: italic;
    background-color: #f0f0f0;
    border-left: 5px solid #333;
    padding: 10px;
    margin: 20px 0;
}

p {
    font-size: 16px;
    margin: 15px 0;
}

figure {
    text-align: center;
    margin: 20px 0;
}

footer hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}
/*_______________________________________________________________________________________________*/
/* Estilos para la tabla */
table {
    width: 100%;    
    border-collapse: collapse; 
    margin: 20px 0;
    background-color: #fff; 
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9; 
}

tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}

tbody tr:hover {
    background-color: #ddd; 
    cursor: pointer;
}

td {
    font-size: 18px;
    color: #333; 
}

table caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
/*________________________________________________________________________________________________*/
/* Estilos para el regreso*/
a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background-color: #333;
    padding: 5px 10px;
}
pre.negritas {
    font-weight: bold;
}
/*________________________________________________________________________________________________*/
