.contenedor{
    border: 1px solid black;
    border-radius:5px;
    padding-left: 10px;
}

#s-universal *{
    color: blue;
}

#s-clase .grande {
    font-size: 5px;
}

#s-id #div1{
    color: green;
}

#s-tipo p{
    border: 2px blue solid;
}

#s-tipo-clase p.info{
    box-shadow: 5px 5px 5px gold;
    border: 1px solid gold;
}

#s-lista ul {
    text-transform:uppercase
}

#s-descendientes article *{
    border-bottom: 2px dotted blue;
}

#s-hijos article > p{
    background-color:red;
}

#s-hermano-ad article h2+p{
    color: gold
}

#s-lista ul li:nth-child(odd) {
    background-color: blue;
}

#s-lista ul li:nth-child(even) {
    background-color:red;
}

.imagen:hover {
    background-color: gold;
    border: 1px solid green;
}

#desc p::first-letter {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#s-tipo.primera ~ article {
    border: 2px dotted blue;
}

#desc p::first-line {
    background-color: greenyellow;
}