blockquote {
    color:blue; 
}

#Titulosecundario{
    color: yellow;
    text-align: center;
}

#Titulosegundo{
    text-align: center;
}

body blockquote {
    background-color: white;
    padding: 15px;
    font-style: italic;
    color: black;
  }

header ~ h3,
header ~ h4 {
    background-color: greenyellow;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }