a[href$=".html"] {
    color: gold !important;
}

div a {
    color: rgb(215, 254, 17) !important;
}

.borde th, .borde td {
    border: 1px ridge rgb(241, 6, 6) !important;
    text-align: center;
}

div > p {
    background-color: rgb(246, 5, 246) ;
}

p.part {
    color: rgb(128, 0, 124) !important;
}

#color-rojo {
    color: red !important;
}


.color1 {
    background-color: gray !important;
}

h1 + p {
    color: cyan !important;
    font-weight: bold;
}

h1 ~ p {
    color: orange !important;
    font-style: italic;
}

h1 ~ p {
    color: orange !important;
    font-style: italic;
}

section > p {
    color: blue;
}

section p {
    color: green;
}
