.titulo{
    color: blanchedalmond;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#s-universal *{
    color: pink;
}

.titulo:hover{
    background-color:palevioletred;
    border: bisque 2px solid;
    border-radius: 5px;
}


#L1 ul li:nth-child(odd){
    background-color: lightcoral;
}

#s-tipo-clase p.info{
    border: 1px solid rgb(253, 215, 0);
    box-shadow: 5px 5px 5px gold;
    background-color: rgb(248, 230, 130);
}


#s-hermano-ad article h2 + p {
    color: aquamarine;
    font-style: italic;
    font-size: 18px;
}

#s-hermano-ad p {
    font-size: 16px;
    color: #333;
}

#SA ul li:nth-child(odd){
    background-color: lightcoral;
}




