/* selector adyacente*/
.color{
    color: red;
}
.color + p {
    border: 2px solid orange;
}
 /*selector por hermano general*/
h2 ~ audio {
    border: 2px solid green;
}
/*selector compuesto*/
hr + p.color1 {
    font-size: 20px;
    font-weight: bold;
}