body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    color: #ff6347;
    text-align: center;
}

h4 {
    color: #2e8b57;
    text-align: center;
}

figure {
    text-align: center;
}

