header{
    color:whitesmoke;
    background-color: brown;
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    background-color: #333; 
    padding: 10px;
  }
  
nav a {
    color: white;
    text-decoration: none; 
    font-size: 18px;
    margin-right: 25px;
} 

p{
    width:920px;
}

aside-principal{
    position:fixed;
    bottom: 16%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #972626;
    color:whitesmoke;
    text-decoration: none; 
    font-size: 18px;
    margin-right: 25px;
}

.musica{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(250, 250, 250, 0);
} 
.pinkfloyd{
    text-align: center;
}

.kansas{
    float:right;
    border-radius: 10px;
    width: 350px;
    right: -500px;
    bottom: 0px;
}

.dtt{
    color: #972626;
    font-weight: bold;
}

.kansasaside{
    position: relative;
    bottom: -10px;
}

.videojuegos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img-juegos{
    width: 400px;
    border-radius: 10px;
}

.videos{
    resize: both;
    width: 600px;
    border-radius: 10px;
}