*{
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Arial, sans-serif;
}

header{
    color:whitesmoke;
    background-color: brown;
    text-align:center;
}

nav {
    background-color: #333; 
    padding: 10px;
  }
  
nav a {
    color: white;
    text-decoration: none; 
    font-size: 18px;
    margin-right: 25px;
} 

p{
    width:920px;
}

aside-principal{
    position:fixed;
    bottom: 16%;
    background-color: #972626;
    color:whitesmoke;
    text-decoration: none; 
    font-size: 18px;
    margin-right: 25px;
}

.musica{
    background-color: rgba(250, 250, 250, 0);
} 
#pinkfloyd{
    text-align: center;
}

.kansas{
    float:right;
    border-radius: 10px;
    width: 350px;
    right: -500px;
    bottom: 0px;
}

.dtt{
    color: #972626;
    font-weight: bold;
}

.kansasaside{
    position: relative;
    bottom: -10px;
}

.img-juegos{
    width: 400px;
    border-radius: 10px;
}

.videos{
    resize: both;
    width: 600px;
    border-radius: 10px;
}

.formulario{
    background-color:#ecececd2;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.textos-formulario{
    text-align: right;
}

.cajas-formulario{
    text-align: center;
}

.bordes-sep{
    border: 2px solid black;
    border-radius: 5px; 
    padding: 20px; 
}

p.Matricula {
    color: #972626;
} 

a[href]:hover {
    color: red;
    font-size: 19px;
} 

footer a, aside a{
    color: black;
}

div > dd, dt {
    font-size: 20px;
}

main ~ aside {
    color: red;
}

iframe + ul {
    margin-top: 20px;
    color: #333;
}

.Imagenes-Selectores {
    border-radius: 10px;
    border: brown 3px solid;
    width: 700px;
}

.cajas {
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: whitesmoke;
    text-align: center;
}