#a05{
    font-family: 'Courier New', monospace;
    color: #2a3d45; 
    font-size: 16px; 
    border: 3px solid #3e5c76; 
    padding: 8px 12px; 
    border-radius: 6px; 
    background-color: #e0e6ed; 

}