#a05{
    font-family: 'Courier New', monospace;
    color: #2a3d45; /* Un azul grisáceo sobrio y elegante */
    font-size: 16px; /* Un poco más grande para mejorar la lectura */
    border: 3px solid #3e5c76; /* Azul oscuro con un toque serio y profesional */
    padding: 8px 12px; /* Un poco más de espacio para mejor presencia */
    border-radius: 6px; /* Bordes suaves pero definidos */
    background-color: #e0e6ed; /* Un gris azulado claro, sofisticado y limpio */

}