/* Pagina principal */
header {
    text-align: center;
    background-color:lightsalmon;
}

section {
    font-size: 30px;
}

div {
    display: block;
    font-size: 30px;
}

.titulo {
    color:black;
    font-size: 50px;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.musica {
    margin-top: 10px;
    font-weight: bold;
}

.musica1 {
    width: 200px;
    height: auto;
}

.videojuegos {
    margin-top: 10px;
    font-weight: bold;
}

.videojuegos1 {
    width: 200px;
    height: auto;
}

.peliculas {
    margin-top: 10px;
    font-weight: bold;
}

.peliculas1 {
    width: 200px;
    height: auto;
}

.salir {
    margin-top: 10px;
    font-weight: bold;
}

.salidas1 {
    width: 200px;
    height: auto;
}

.series {
    margin-top: 10px;
    font-weight: bold;
}

.series1 {
    width: 200px;
    height: auto;
}

.fondo {
    background-color:khaki;
    color:black; 
    padding: 20px; 
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center; 
}


/* Pagina musica */
.header1 {
    text-align: center;
    background-color:rgb(156, 117, 160);
}

.fondomusica {
    background-color:rgb(217, 125, 245);
    color:black; 
    padding: 20px; 
}

.contenedor1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center; 
}

/* Pagina videojuegos */
.header2 {
    text-align: center;
    background-color:rgba(22, 167, 30, 0.671);
}

.fondovideojuegos {
    background-color:rgba(139, 172, 22, 0.61);
    color:black; 
    padding: 20px; 
}

.contenedor2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center; 
}

/* Pagina peliculas */
.header3 {
    text-align: center;
    background-color:rgba(247, 165, 58, 0.671);
}

.fondopeliculas {
    background-color:rgba(236, 223, 36, 0.61);
    color:black; 
    padding: 20px; 
}

.contenedor3 {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center; 
}

/* Pagina salidas */
.header4 {
    text-align: center;
    background-color:rgba(77, 58, 247, 0.671);
}

.fondosalidas {
    background-color:rgba(112, 103, 233, 0.61);
    color:black; 
    padding: 20px; 
}

.contenedor4 {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center; 
}

/* Pagina series */
.header5 {
    text-align: center;
    background-color:rgba(223, 69, 22, 0.432);
}

.fondoseries {
    background-color:rgba(243, 171, 37, 0.911);
    color:black; 
    padding: 20px; 
}

.contenedor5 {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center; 
}