body {
    font-family: Arial, sans-serif;
    background-color: #f6d790;
    color: #333;
}

h2 {
    color: #007bff;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
