* {
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0;
}
form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
h1 {
  text-align: center;
}
div {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input, select {
  height: 30px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}