#a30{
    background-color: silver; ; border-radius: 10px;
}

.titulopaginaperso{
    text-align: center;
    background-color: rgb(52, 73, 94);
    color:white;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
}

.estilo1 {  /* Selector de bordes de separaciòn */
    border-top-left-radius: 0.5em;
    border-top: 3px solid black;
    border-left: 3px solid black;
    padding-left: 1em;
    margin-bottom: 2em;
}

#s-clase .titulo1{   /* Selector por clase tipo 2*/
    text-align: center;
    background-color:crimson;
    color:white;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
}

.titulo2{
    text-align: center;
    background-color:silver;
    border-radius: 5px;
    border-top-left-radius: 0.5em;
    border-top: 3px solid black;
    border-left: 3px solid black;
    padding-left: 1em;
    margin-bottom: 2em;
    font-size: 20px;
    font-weight: bold;
}

.titulo3{
    text-align: center;
    background-color: silver;
    color:black;
    border-radius: 5px;
}

.titulo4 {  /* Selector de titulos Series */
    text-align: center;
    background-color: crimson;
    color:white;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
}

.titulo5  { /* Selector de titulos Senderismo */
    text-align: center;
    background-color: silver;
    color:black;
    border-radius: 5px;
    border-color: darkgray;
    font-size: 28px;
    font-weight: bold;
}

.titulo6 {  /* Selector de titulos Peliculas */
    text-align: center;
    background-color: gold;
    color:black;
    font-size: 28px;
    font-weight: bold;
}

.estilo2 {   /* Selector de estilo peliculas */
    background-color: darkblue;
    color:white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border-color: darkgray;
    padding-left: 1em;
    margin-bottom: 2em;
}

/* Estilo de formulario */
.bordes {
    border: 3px dotted brown;
    border-radius: 5px;
    text-align: center;
}

/* Estilo de formulario */
#s-formulario * {    /* Selector por clase */
    background-color: rgb(153, 201, 183);
    color:black;
    font-size: 20px;
}


* img {    /* Selector Universal */
    width: 100%;
    max-width: 700px; 
    height: auto; 
    display: block; 
    margin: 0 auto;
    align-items: center; 
}


#s-d-tipo p { /* Selector por tipo - etiqueta */
    border: 3px dotted black;
    text-align: center;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 25px;
}


#s-id #th3 {   /* Selector por id */
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: red; 
    font-weight: bold;
    font-style: italic; 
    color: white;
    border: white 2px solid;
    border-radius: 5px;
}

#s-tipo-clase-especifica h2.clase1 {     /* Selector por tipo clase especifica*/
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: yellow; 
    font-weight: bold;
    font-style: italic; 
    color: black; 
}


#s-lista blockquote, #s-lista figcaption {   /* Selector por lista  */ 
    font-family: Arial, sans-serif;
    font-size: 15px;
    background-color: gold; 
    font-weight: bold;
    font-style: italic; 
    color: blue; 
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
}

#s-descendientes figure * {   /* Selector por descendientes */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: green;
    border: black 2px solid;
    border-radius: 5px;
    text-align: center;
    color: white;
}	

#s-hijos-directos li > blockquote {   /* Selector por hijos directos */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color:cornflowerblue;
    border: black 2px solid;
    border-radius: 5px;
    text-align: center;
    color: white;
}

#s-hijo-adyacente h2 + p {  /* Selector por hermano adyacente */
    font-size: 28px;
    background-color: darkorange;
    border: black 2px solid;
    border-radius: 5px;
}


#s-cuadro-azul{    /* Selector de cuadro azul en f1 */
    border: 3px blue solid;
    text-align: center;
    border-radius: 2px;
}



section ~ p {                               /* Selector por hermano general */
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: 1px solid gold;
    box-shadow: 5px 5px 5px gold;
    text-align: center;
} 


.centrar { /* Mi selector para centrar */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilo de mi practica1 ev2 */
.titulosSelectoresEv2{
    text-align: center;
    background-color: rgb(186, 74, 0);
    color:white;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    border-top-left-radius: 0.7em;
    border-top: 3px solid black;
    border-left: 3px solid black;
    padding-left: 1em;
    margin-bottom: 2em;
}

.estiloSelectoresEv2 {
    background-color: rgb(52, 73, 94);
    color: white;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    border: 2px solid darkgray;
    padding-left: 1em;
    margin-bottom: 2em;
    text-align: center; 
}

.selectoresTitulo{
    text-align: center;
    background-color:crimson;
    color:white;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
}



