#a30{
    background-color: silver; ; border-radius: 10px;
}

.estilo1 {
    border-top-left-radius: 0.5em;
    border-top: 3px solid black;
    border-left: 3px solid black;
    padding-left: 1em;
    margin-bottom: 2em;
}

.titulo1{
    text-align: center;
    background-color:crimson;
    color:white;
    border-radius: 5px;
}

.titulo2{
    text-align: center;
    background-color:silver;
    border-radius: 5px;
    border-top-left-radius: 0.5em;
    border-top: 3px solid black;
    border-left: 3px solid black;
    padding-left: 1em;
    margin-bottom: 2em;
}
