/* Selector por clase */
.contenedor {
    border: 3px solid rgb(42, 116, 255);
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: 5px 5px 5px rgb(215, 172, 255);
    background-color: rgb(232, 247, 255);
}

/* Selector Universal */
#s-universal * {
    color: rgb(68, 0, 255);
}

/* Selector por descendientes */
#s-id .esc_act {
    color: rgb(189, 0, 0);
}

/* Selector por id */
#s-id #color_prepa {
    color: rgb(0, 179, 24);
}

/* Selector por tipo */
#s-section_game header {
    border: 2px rgb(5, 143, 0) solid;
    background-color: rgb(187, 255, 223);
}

#s-section_dv header {
    border: 2px rgb(189, 0, 0) dotted;
    background-color: rgb(255, 199, 199);
    color: rgb(0, 56, 161);
}

/* Selector por tipo clase especifica */
#art_series_live ol.serie_fav {
    border: 1px solid rgb(0, 140, 255);
    box-shadow: 5px 5px 5px rgb(181, 221, 255);
}

/* Selector por lista */
#list_series ol, #list_series ul, #list_series h2 {
    text-transform: capitalize;
}

/* Selector por descendientes */
#s-tabla ul * {
    border-bottom: 2px dotted blueviolet;
}

/* Selector hijos directos */
#list_series article > ol, .series_ani {
    border: 1px solid rgb(0, 122, 16);
    box-shadow: 5px 5px 5px rgb(164, 255, 179);
}

/* Selector hermano adyascente */
#section_hermano header+p {
    box-shadow: 5px 5px 5px rgb(181, 188, 255);
}

/*-------------------------------------------------*/

/* Selector hermano general */
#section_favorito article.art_personaje ~ article { 
    border: 2px dotted blue;
    text-align: center;
    margin: 10px;
}

/* Pseudo-clase */
#s-section_game header:hover {
    background-color: rgb(142, 221, 168);
    border: 2px solid rgb(113, 175, 134);
}

#section_hermano > article:nth-child(2) header{
    background-color: rgb(105, 218, 129);
}

#section_hermano > article:first-child header{
    background-color: rgb(247, 160, 98);
}
#s-tabla th, #s-tabla tfoot td{
    background-color: rgb(107, 184, 255);
}

#section_hermano > article:last-child header{
    background-color: pink;
}

#s-tabla tr:nth-child(odd){
    background-color: rgb(202, 240, 255);
}

#s-tabla tr:nth-child(even){
    background-color: rgb(255, 243, 173);
}

/* Pseudo-elemento */
#s-section_dv p::first-line {
    background-color: rgb(167, 223, 255);
}

.contenedor p::first-letter{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

img[src="Recursos/allmight.jpg"], td[colspan="2"] {
    border: solid rgb(107, 134, 255);
}

input[type="color"] {
    border: solid rgb(0, 71, 151);
}

a[href*="adrian"] {
    color: rgb(125, 125, 255);
}

a[href^="tel"] {
    color: rgb(255, 111, 111);
}

embed[src$=".pdf"] {
    border: 2px solid rgb(255, 87, 87);
}

a[href*="gob"] {
    color: rgb(43, 151, 57);
}