#s1 article.segundaPractica ~ article {
    border: 2px dotted blue;
}

.titulo:hover {
    background-color: gold;
    border: 1px solid green;
    border-radius: 5px; 
}

#s1 > article:nth-child(3){
    background-color: black;
    color: white
}

#s1 > article:first-child {
    background-color: chocolate;
}

#s1 > article:last-child {
    background-color: pink;
}

#s1 ul li:nth-child(odd){
    background-color: gray;
}

#s1 ul li:nth-child(even){
    background-color: coral;
}

#s1 p::first-line {
    background-color: yellow;
}

#s1 p::first-letter{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
}

p[lang="es"], p[lang="en"] {
    background-color: aquamarine;
}

input[type="text"] {
    background-color: black;
    color:white
}

/* Que el lenguaje tenga la letra a*/
p[lang*="a"] {
    color: blue;
}
/* Que el lenguaje empiece con la letra a*/
p[lang^="a"] {
    color: blue;
}
/* Que el lenguaje finalice con la letra a*/
p[lang$="a"] {
    color: blue;
}

blockquote[cite*="wikipedia"] {
    color:red;

}
